<header> 

<div class="container">

        <nav class="navbar navbar-expand-lg">

            <!-- Logo -->
            <a class="navbar-brand" href="index.html">
                    <img src="assets/bayone-logo-dark.png"
                         alt="BayOne"
                         class="logo">
                </a>


            <!-- Mobile Menu Button -->
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#mainNavigation"
                    aria-controls="mainNavigation"
                    aria-expanded="false"
                    aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>

            </button>


            <!-- Navigation -->
            <div class="collapse navbar-collapse" id="mainNavigation">

                <ul class="navbar-nav ms-auto">

                    <!-- Home -->
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">
                            Home
                        </a>
                    </li>


                    <!-- Services -->
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="servicesDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Services
                        </a>

                        <ul class="dropdown-menu"
                            aria-labelledby="servicesDropdown">

                            <li>
                                <a class="dropdown-item" href="#">
                                    Artificial Intelligence
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">
                                    Data Engineering
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">
                                    Experience Design
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">
                                    Application Modernization
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">
                                    Quality Engineering
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">
                                    Site Reliability Engineering
                                </a>
                            </li>

                        </ul>

                    </li>


                    <!-- Industries -->
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="industriesDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Industries
                        </a>

                        <ul class="dropdown-menu"
                            aria-labelledby="industriesDropdown">

                            <li>
                                <a class="dropdown-item" href="#">
                                    Financial Services
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">
                                    Healthcare
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">
                                    Retail
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">
                                    Technology
                                </a>
                            </li>

                        </ul>

                    </li>


                    <!-- About Us -->
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="aboutDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            About Us
                        </a>

                        <ul class="dropdown-menu"
                            aria-labelledby="aboutDropdown">

                            <li>
                                <a class="dropdown-item" href="#">
                                    About BayOne
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">
                                    Leadership
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">
                                    Our Culture
                                </a>
                            </li>

                        </ul>

                    </li>


                    <!-- Careers -->
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="careersDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Careers
                        </a>

                        <ul class="dropdown-menu"
                            aria-labelledby="careersDropdown">

                            <li>
                                <a class="dropdown-item" href="#">
                                    Life at BayOne
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">
                                    Open Positions
                                </a>
                            </li>

                        </ul>

                    </li>


                    <!-- Insights -->
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="insightsDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Insights
                        </a>

                        <ul class="dropdown-menu"
                            aria-labelledby="insightsDropdown">

                            <li>
                                <a class="dropdown-item" href="#">
                                    Blogs
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">
                                    Case Studies
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="#">
                                    News & Events
                                </a>
                            </li>

                        </ul>

                    </li>


                    <!-- Contact Us -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Contact Us
                        </a>
                    </li>

                </ul>


                <!-- Search -->
                <div class="header-search">

                    <button class="search-toggle"
                            type="button"
                            aria-label="Open search"
                            aria-expanded="false">

                        <!-- Search Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="20"
                             height="20"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round">

                            <circle cx="11" cy="11" r="7"></circle>
                            <line x1="16.65"
                                  y1="16.65"
                                  x2="21"
                                  y2="21"></line>

                        </svg>

                    </button>


                    <div class="search-box">

                        <form class="search-form"
                              id="siteSearchForm">

                            <label for="searchInput"
                                   class="visually-hidden">
                                Search website
                            </label>

                            <input type="search"
                                   id="searchInput"
                                   class="search-input"
                                   placeholder="Search..."
                                   autocomplete="off">


                            <label for="searchType"
                                   class="visually-hidden">
                                Search type
                            </label>

                            <select id="searchType"
                                    class="search-type">

                                <option value="all">
                                    All
                                </option>

                                <option value="services">
                                    Services
                                </option>

                                <option value="industries">
                                    Industries
                                </option>

                                <option value="about">
                                    About Us
                                </option>

                                <option value="careers">
                                    Careers
                                </option>

                                <option value="insights">
                                    Insights
                                </option>

                            </select>


                            <button type="submit"
                                    class="search-submit"
                                    aria-label="Submit search">

                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="18"
                                     height="18"
                                     viewBox="0 0 24 24"
                                     fill="none"
                                     stroke="currentColor"
                                     stroke-width="2"
                                     stroke-linecap="round"
                                     stroke-linejoin="round">

                                    <circle cx="11" cy="11" r="7"></circle>

                                    <line x1="16.65"
                                          y1="16.65"
                                          x2="21"
                                          y2="21"></line>

                                </svg>

                            </button>

                        </form>

                    </div>

                </div>

            </div>

        </nav>

    </div>

</header>
